.task-list-container{
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;

  margin: 20px auto;
}


.task-list{
  padding: 8px
}

.task{
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
}